<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageProcessor" version="2.2.5.0" targetFramework="net45" requireReinstallation="True" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net40" />
  <package id="NAudio" version="1.7.3" targetFramework="net45" />
</packages>