<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PowerPointLabs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<PowerPointLabs.Properties.Settings>
   <setting name="ReleaseType" serializeAs="String">
    <value>dev</value>
   </setting>
   <setting name="InstallerType" serializeAs="String">
    <value>online</value>
   </setting>
   <setting name="ReleaseAddr" serializeAs="String">
    <value>http://www.comp.nus.edu.sg/~pptlabs/download-78563/</value>
   </setting>
   <setting name="DevAddr" serializeAs="String">
    <value>http://www.comp.nus.edu.sg/~pptlabs/download/dev/</value>
   </setting>
   <setting name="Version" serializeAs="String">
    <value>2.8.7.10</value>
   </setting>
   <setting name="ReleaseDate" serializeAs="String">
    <value>14 Oct 2016</value>
   </setting>
  </PowerPointLabs.Properties.Settings>
	</applicationSettings>
	<startup/></configuration>
